Active Contours/Input/HW4.pdf
Convolution/Input/HW1.pdf
Homography and Image Warping/Input/HW2.pdf
Hough Transform/Input/HW3.pdf
Hybrid Images/Input/HW2.pdf
Image Completion and hole filling/Input/HW3.pdf
Image Morphing/Input/HW5.pdf
Image Segmentation/Input/HW4.pdf
Image Sharpening/Input/HW2.pdf
K-means/Input/HW4.pdf
Mean-Shift/Input/HW4.pdf
Multiresolution Blending and Feathering/Input/HW5.pdf
Poisson Blending/Input/HW5.pdf
Prokudin-Gorskii Images/Input/HW1.pdf
SLIC/Input/HW4.pdf
Template Matching/Input/HW2.pdf
Texture Synthesis/Input/HW3.pdf
Active Contours/Output/contour.mp4